/* Insert your styles here */
body{

}

h1{
    color:#000000;
    font-weight: 700;
    font-size: 40px;
}

h2{
    color: #000000;
    font-weight: 700;
}

h1, h2, h3{
    font-family: Verdana;
}

main, nav, header{
    border: 1px solid black;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

footer{
    max-width:960px;
    margin: 25px auto;
}

#nowShowingDiv{
    text-align:center;
    display:table-cell;
}

.moviePosterDiv{
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 24%;
    min-width: 200px;
    margin: auto;
}

.synopsisDiv{
    border: 2px solid black;
    padding: 20px;
    margin: 50px 10px;
}

.synopsisCenterDiv{
    display:inline-block;
    width:100%;
}

.plotDiv{
    width:40%;
    float:left;
    display:inline-block;
}

.previewVideo{
    width: 57%;
    display:inline-block;
}

.previewVideo iframe {
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.bookingDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 15px;
}

.bookingButton{
    font-size: 16px;
    height: 40px;
    border-radius: 8px;
}

.navLinks{
    alignment: center;
    color: #000000;
    font-size: 24px;
}

