/* Insert your styles here */
html{
    scroll-behavior: smooth;
    background-color: #35519A;
}
h1{
    font-weight: 700;
    font-size: 40px;
}
h2{
    font-weight: 700;
}
h4{
    font-size:12pt;
    margin:0px;
    text-align: center;
    vertical-align: center;
}
h1, h2, h3, h4{
    color: #191308;
    font-family: Verdana;
}
section{
    min-height: 100vh;
}

header,nav,main,footer{
    background-color: #39A9DB;
}

main, nav, header{
    border: 0px solid black;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}
footer{
    max-width:960px;
    margin: 25px auto;
}

p{
    font-family: Calibri;
}

/* ID Tags*/
#nowShowingDiv{
    display:flex;
}

#seatAndPricingDiv{
    border: 2px solid black;
}
#seatContainer{
     width:100%;
}
#seatCenterDiv{
    margin: 20px 0px 0px 0px;
    width:100%;
    display:flex;
}
/*Custom Classes */

.navLinks{
    alignment: center;
    color: #000000;
    font-family: Verdana;
    font-size: 24px;
    text-align: center;
}

/* Seats and Pricing*/

.pricingContainer{
    display:flex;
}
.headingContainers{
    width:100%;
    display:flex;
}
.pricingDiv{
    flex:1;
    text-align: center;
    position:relative;
}

/* Now Showing */

.moviePosterDiv{
    border: 2px solid black;
    flex: 1;
    text-align: center;
    width: 24%;
    min-width: 200px;
    margin: 10px;
}

/* SYNOPSIS SECTION*/

.synopsisDiv{
    border: 2px solid black;
    padding: 20px;
    margin: 50px 10px;
}
.synopsisCenterDiv{
    display:flex;
}
.plotDiv{
    flex: 1;
}
.previewVideo{
    flex: 1;
}
.previewVideo iframe {
    position: relative;
    min-height:200px;
    height: 100%;
    width: 100%;
}

.bookingDiv{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.sessionsDiv{
    width: 100%;
    display:inline-block;
}

.bookingDiv{
    overflow:hidden;
}

.bookingCenterDiv{
    width:100%;
    display:flex;
}

.ticketsDiv{
    flex:1;
}

.custDetailsDiv{
    flex:1;
}
.bookingButton{
    font-size: 16px;
    height: 40px;
    border-radius: 8px;
}

