/* Insert your styles here */
html{
    scroll-behavior: smooth;
}

h1{
    color:#000000;
    font-weight: 700;
    font-size: 40px;
}

h2{
    color: #000000;
    font-weight: 700;
}

h1, h2, h3{
    font-family: Verdana;
}

section{
    min-height: 100vh;
}

main, nav, header{
    border: 0px solid black;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

footer{
    max-width:960px;
    margin: 25px auto;
}

.pricingContainer{
    display:flex;
}
.pricingDiv{
    flex:1;
}

#nowShowingDiv{
    display:flex;
}

.moviePosterDiv{
    border: 2px solid black;
    flex: 1;
    text-align: center;
    width: 24%;
    min-width: 200px;
    margin: 10px;
}

.synopsisDiv{
    border: 2px solid black;
    padding: 20px;
    margin: 50px 10px;
}

.synopsisCenterDiv{
    display:flex;
}

.plotDiv{
    flex: 1;
}

.previewVideo{
    flex: 1;
}

.previewVideo iframe {
    position: relative;
    min-height:200px;
    height: 100%;
    width: 100%;
}

.bookingDiv{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.sessionsDiv{
    width: 100%;
    display:inline-block;
}

.bookingDiv{
    overflow:hidden;
}

.bookingCenterDiv{
    width:100%;
    display:flex;
}

.ticketsDiv{
    flex:1;
}

.custDetailsDiv{
    flex:1;
}
.bookingButton{
    font-size: 16px;
    height: 40px;
    border-radius: 8px;
}

.navLinks{
    alignment: center;
    color: #000000;
    font-size: 24px;
}

